body {
    font-family: 'poppins',sans-serif;
    margin: 0 auto;
    text-align: center;
    background-color: bisque;
}

header, section, div {
    padding-top: 3em;
    padding-bottom: 3em;
    
    
}

header {
    background-color: antiquewhite;
    background-position: centre top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(https://tse2.mm.bing.net/th/id/OIP.dgS8DyIx4LzDmmCMhtJJlgHaDA?rs=1&pid=ImgDetMain&o=7&rm=3);
}

h1 {
    font-size: 4em;
    line-height: 4em;
    color: brown;
}

h2 {
    font-size: 3em;
    line-height: 3em;
}

h3 {
    font-size: 35px;
    line-height: 52px;
}

h4 {
    font-size: 30px;
    line-height: 54px;
}

h5 {
    font-size: 25px;
    line-height: 54px;
}

h6 {
    font-size: 20px;
    line-height: 45px;
}

p {
    font-size: 19px;
}

a, button {
    background-color: rgb(163, 68, 68);
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 46px;
    border-radius: 20px;
    border-color: black;
    font-size: 20px;
    text-align: center;
    text-justify: auto;
    color: antiquewhite;
    text-decoration: none;
}

    a:hover {
        background-color: antiquewhite;
        color: rgb(163, 68, 68);
        cursor: pointer;
    }

    button:hover {
        background-color: antiquewhite;
        color: rgb(163, 68, 68);
        cursor: pointer;
    }

header p {
    font-size: 30px;
    color: whitesmoke;
}

input, textarea {
    display: block;
    width: 320px;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 8px;
    border: 1px solid white;
    border-radius: 25px;
    border-color: brown;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gallery {
    padding-top: 30px;
    padding-bottom: 60px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.video {
    width: 500px;
    height: auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

footer p {
    font-size: 12px;
    color: black;
    text-align: center;
    padding: 10px;
    background-color: azure;
}

table {
    margin-left: auto;
    margin-right: auto;
    align-items: centre;
}
.superbody{
    text-align: center;
    align-items: center;
    display: block;
    margin-bottom: 10px;   
    border: 1px solid white;
    border-radius: 25px;
    border-color: brown;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.childbody{    
    width: fit-content;
    height: fit-content;
    text-align: center;
    display:flex;
    border: 1px solid white;
    border-radius: 20px;
    border-color: brown;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: antiquewhite;
    
}
ul{
    display: flex;
    padding: 10px;
    margin: 10px;
    width:  fit-content;
    height: fit-content;

}
li{
    display: flex;
    padding: 10px;
    margin: 10px;
    width:  auto;
    height: auto;
}